{{> banner}}

<!--================User Profile Area =================-->
<section class="tracking_box_area section-margin--small">
	<div class="container">

		<div class="tracking_box_inner">
			<div class="d-flex justify-content-center align-items-center">

				<form class="row tracking_form" action="/change-password" method="post"
					oninput='password.setCustomValidity((password.value == '' || newPassword.value == '' || confirmPassword.value == '') ? "Passwords do not match." : ""); confirmPassword.setCustomValidity(newPassword.value != confirmPassword.value ? "Passwords do not match." : "");'>
					<div class="col-md-12 form-group">
						<h3>Change password</h3>
					</div>
					{{#if type}}
					<div class="col-md-12 form-group alert alert-success" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<strong>Success!</strong> Change password successfully!
					</div>
					{{else}}
					<div class="col-md-12 form-group alert alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						<strong>Fail!</strong> Change password failed!
					</div>
					{{/if}}
					<div class="col-md-12 form-group">
						<label for="currentPassword">Current password</label>
						<input type="password" class="form-control" id="currentPassword" name="currentPassword">
					</div>
					<div class="col-md-12 form-group">
						<label for="newPassword">New password</label>
						<input type="password" class="form-control" id="newPassword" name="newPassword"
								placeholder="" onfocus="this.placeholder = ''"
								onblur="this.placeholder = ''" />
					</div>
					<div class="col-md-12 form-group">
						<label for="confirmPassword">Confirm new password</label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
								placeholder="" onfocus="this.placeholder = ''"
								onblur="this.placeholder = ''" />
					</div>
					<div class="col-md-12 form-group">
						<a href="/" class="button button-tracking" role="button">Back to home</a>
						<button type="submit" value="submit" class="button button-tracking">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!--================End User Profile Area =================-->

<script>
	window.setTimeout(function () {
		$(".alert").fadeTo(500, 0).slideUp(500, function () {
			$(this).remove();
		});
	}, 2000);


</script>