{{>banner}}

<section class="tracking_box_area section-margin--small">
    <div class="container">
        <div class="tracking_box_inner">
			<div class="d-flex justify-content-center align-items-center">
                <form class="row tracking_form" action="/send-password-reset" method="post">
                    <p>Don't worry! Just fill in your email and we'll send you a code to reset your password.</p>
                    {{#if message}}
                    <div class="col-md-12 form-group alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Failed!</strong> {{message}}
                    </div>
                    {{/if}}
                    <div class="col-md-12 form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required/>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="button button-tracking">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<script>
	window.setTimeout(function() {
		$(".alert").fadeTo(500, 0).slideUp(500, function(){
			$(this).remove(); 
		});
	}, 2000);
</script>