{{> banner}}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Already have an account?</h4>
						<p>
							There are advances being made in science and technology everyday, and a good example of
							this is the
						</p>
						<a class="button button-account" href="/login">Login Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Create an account</h3>
					<form class="row login_form" action="/sign-up" id="register_form" method="POST"
						oninput='confirmPassword.setCustomValidity(password.value != confirmPassword.value ? "Passwords do not match." : "")'>
						{{#if message}}
						<div class="col-md-12 form-group alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{message}}
						</div>
						{{/if}}
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="name"
								placeholder="Name" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Name'" />
						</div>
						<div class="col-md-12 form-group">
							<input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Phone number" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Phone number'"/>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="address" name="address" placeholder="Address" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Address'" required/>
						</div>
						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email Address"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" />
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Password'" />
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
								placeholder="Confirm Password" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Confirm Password'" />
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register w-100">Sign up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

<script>
	window.setTimeout(function() {
		$(".alert").fadeTo(500, 0).slideUp(500, function(){
			$(this).remove(); 
		});
	}, 2000);
</script>