{{> banner}}
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
	<div class="container">
		<p class="text-center billing-alert">Thank you. Your order has been received.</p>
		<div class="d-flex justify-content-center">
			<a class="button button-tracking" href="/products" role="button">Back to shop</a>
		</div>
	</div>

	</div>
</section>
<!--================End Order Details Area =================-->